kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: api-backend
  labels:
    app: api-backend
spec:
  nodeSelector:
    kubernetes.io/os: linux
  output:
    to:
      kind: ImageStreamTag
      name: 'api-backend:latest'
  strategy:
    type: Source
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: 'ubi-quarkus-native-s2i:19.2.0.1'
  source:
    type: Git
    git:
      uri: 'https://github.com/forum-demo-2019/quarkus-image-api.git'
      ref: v0.4
  runPolicy: Serial
  triggers:
    - type: ImageChange
    - type: ConfigChange
status:
  lastVersion: 2
